extends layout.pug

block content
	h1 Работа с изображениями

	h2 Слайдер

	section
		.slider.slider-banner
			.slider-item: img(src="http://placeimg.com/1000/340/any/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/1000/340/nature/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/1000/340/tech", alt="")
			//- each item in sliderBanner
			//- 	.slider-item
			//- 		a(href=item.link): img(src='/img/banner/' + item.nameImg, alt="")
	section
		.slider.slider-img
			.slider-item: img(src="http://placeimg.com/200/100/nature", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/people", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/tech", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/nature/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/tech/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/nature/sepia", alt="")

	h2 Вставка изображения из svg спрайта (inline или url)
	p
		+svg('', 'iconsvg-js')(width="100" height="100" fill="#f9cc46")
		| svg(width="100", height="100", fill="#f9cc46")
	p
		+svg('', 'iconsvg-css3')(style="width:50px;height:50px;fill:#379BD6;")
		| svg(style="width:50px;height:50px;fill:#379BD6;")
	style
		| .svgimg {width:50px;height:50px;fill:#E44D25;}
	p
		+svg('', 'iconsvg-html')(class="svgimg")
		| svg(class="svgimg")
