.iconsvg
	size 32px 32px
	display inline-block
	vertical-align: middle
	fill currentColor
	&.t-small
		size 16px 16px
	&.t-large
		size 64px 64px

	&-js
		fill #f9cc46
		padding 0
		margin-right: .5em
		&:hover
			fill #ffbf00
