/*!-----------------------------------------------------------------
	.slider - модуль прелоадер
 -----------------------------------------------------------------*/
.slider
	.slick-arrow
		background: #000