| button.btn.t-success Success
| button.btn.t-info Info
| button.btn.t-warning Warning
| button.btn.t-danger Danger
| button.btn.t-primary Primary
| button.btn.t-secondary Secondary

| a.btn.t-success Success
| a.btn.t-info Info
| a.btn.t-warning Warning
| a.btn.t-danger Danger
| a.btn.t-primary Primary
| a.btn.t-secondary Secondary