-
  const nav = [
    {"name": "Что такое?", "link": "/doc/", "active": false},
    {"name": "Типографика", "link": "typography.html", "active": false},
    {"name": "Сообщения", "link": "message.html", "active": false},
    {"name": "Формы", "link": "form.html", "active": false},
    {"name": "Иконки", "link": "icon.html", "active": false},
    {"name": "Навигация", "link": "navigation.html", "active": false},
    {"name": "Изображения", "link": "image.html", "active": false}
  ];
  const breadcrumbs = [
    {"name": "Главная", "url": "/"},
    {"name": "Документация", "url": "/example/"},
    {"name": "Подтема"}
  ];
