extends layout.pug

block title
	title SMACSS

block content
	h1 SMACSS — это стиль организации кода!
	figure.b-img-left
		img(src="/img/book-covers.png", width="200", alt="Обложка книги по SMACSS")
		figcaption Обложка книги по SMACSS
	p.b-clearFix <a href="http://smacss.com/">SMACSS</a> — это скорее руководство по стилю, чем жесткое руководство. Данный подход позволяет документировать последовательный подход к разработке сайта при использовании CSS.
	h3 Стили делятся на 5 категорий:
	ol
		li <strong>Base rules</strong> — базовые стили.
			ul
				li Сброс стилей.
				li Задаются стили основных элементов img, figure...
				li (.b-class) — базовые классы.
				li Функции для препроцессоров.
				li Каскадность не допускается.
		li <strong>Theme rules</strong> — стили оформления.
			ul
				li Задаются цвета, фон и шрифты - аналог темы для редактора.
				li Переменные для препроцессоров, которые могут быть использованы модулями.
				li Подгружаемые шрифты.
		li <strong>Layout rules</strong> — стили макета.
			ul
				li Задаются размеры, расположение шапки футера, сайдбара и т.д.
				li Задаётся сетка и её поведение при изменении размера окна браузера.
				li Можно использовать id.
				li (.l-) - классы для сетки.
				li Допускается каскадность.
		li <strong>Modules rules</strong> — стили модулей.
			ul
				li Задаются стили для отдельных многократно используемых кусков кода.
				li Не рекомендуется исползовать id, селекторы.
				li (.module) - названия классов должны быть семантическими.
				li (.module-element) - если надо использвать класс, то он должен начинаться с названия модуля.
				li Допускается каскадность.
		li <strong>State rules</strong> — стили состояния.
			ul
				li Задаётся состояние модулей и скелета сайта
				li Допускается применение «!important».
				li (.is-) - состояние html элемента. Абстрактные классы, могут быть переопределены модулями

