extends layout.pug

block content
	h1 Сообщения для сайта

	h3 Модуль jumbotron

	main.jumbotron
		h2.jumbotron__header Модуль .jumbotron
		p.jumbotron__text Необходим для демонстрации ключевого содержимого сайта
		a(href="/" class="jumbotron__link btn t-primary") Вернуться на главную

	h3 Модуль предупреждения

	.alert
		.alert__close
		| .alert default
	.alert.t-success
		.alert__close.fa.fa-close
		| .alert.t-success
	.alert.t-info
		.alert__close.fa.fa-close
		| .alert.t-info
	.alert.t-warning
		.alert__close.fa.fa-close
		| .alert.t-warning
	.alert.t-danger
		.alert__close.fa.fa-close
		| .alert.t-danger

	h3 Модуль выноска

	.callout
		h4 .callout default
		p Случайный текст выноски.
	.callout.t-danger
		h4 .callout.t-danger
		p Случайный текст выноски.
	.callout.t-success
		h4 .callout.t-success
		p Случайный текст выноски.
	.callout.t-warning
		h4 .callout.t-warning
		p Случайный текст выноски.
	.callout.t-info
		h4 .callout.is-info
		p Случайный текст выноски.

	h3 Модуль тултип

	p Lorem <span class="tooltip" data-title="text tooltip">ipsum dolor</span> sit amet, consectetur adipisicing elit. Facilis voluptate, facere autem nam! Quia tempore possimus fugiat maxime earum, nesciunt harum consectetur ea quisquam? Nisi reiciendis consequuntur <span class="tooltip" data-title="текст тултипа">facilis</span> ullam nihil quod recusandae voluptatum esse excepturi tenetur, cum aliquam, sequi eligendi eveniet est voluptatem sint rem fugiat modi quae, adipisci ducimus suscipit repudiandae.

	h3 Модуль прогресс

	.progress
		.progress-bar(style="width:0")
	br
	.progress
		.progress-bar(style="width:25%") 25%
	br
	.progress
		.progress-bar(style="width:50%")
	br
	.progress
		.progress-bar(style="width:100%")

